.alt-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 30px;
  margin-bottom: 10px;
}
.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

/* .alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
} */

.alt-header__column span:last-child {
  margin-left: 15px;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 700;
}
.settings-setting {
  padding: 25px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-setting i {
  margin-right: 20px;
  font-size: 25px;
}
.settings-setting span {
  font-size: 20px;
  font-weight: 400;
}
.settings-setting__column:last-child {
  opacity: 0.7;
  font-size: large;
}
