.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 20px 0px;
}
.recommended-friends__title {
  color: var(--gray-text);
}
.recommended-friends span {
  margin: 110px 0;
  display: block;
  text-align: center;
  color: var(--gray-text);
  font-size: 20px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.open-chat__header span {
  color: var(--gray-text);
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: var(--gray-text);
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.open-post__members img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  color: var(--gray-text);
}
.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 10px;
}
.open-post__member-status {
  color: palevioletred;
}
.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
